@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100&display=swap');

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section01{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b6e7f5;
}

.seccion2{
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #65dfff;
}
.seccion3{
  background-color: #b6e7f5;
}